ETHERSCAN_API_KEY=YOUR_API_KEY
ROPSTEN_URL=https://ropsten.infura.io/v3/YOUR_API_KEY
INFURA_PROJECT_ID="YOUR_API_KEY"
#The account used to deploy the contracts and mint
PRIVATE_KEY="YOUR_API_KEY"
MNEMONIC="your seed to generate the wallet"
